/**
* ============================
*  1.0 Variable
* ============================
*/

$default-font: Open Sans, sans-serif;
$primary-color: #e52020;
$text-color: #000000;
$white-color: #ffffff;
 